* {
    box-sizing: content-box;
    font-family: "Montserrat", serif;
}

header {
    /* align-items: center; */
    /* align-self: center; */
    align-content: center;
}

header nav div a img {
    height: 60px;
}

nav {
    margin-left: 25%;
}

.container {
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    margin-left: 1.5rem;
}

main div img {
    width: 100%;
    height: 500px;
}

 a {
    text-decoration: none;
}

blockquote {
    margin-left: 10rem;
}

section .team-india-bg-p img {
    width: 100%;
    height: auto;
}

button {
    margin-left: 1rem;
}

footer p {
    text-align: center;
    font-weight: 600;    
}

footer span {
    font-size: 17.5px;
    margin-right: 0.2rem;
}